body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow: hidden;
  min-width: 320px;
  margin: 0 auto;
  font-size: 0.28rem;
  color: #131415;
  background: #F7F7F7;
  position: relative;
}

// 横屏适配：允许页面滚动
@media screen and (orientation: landscape) {
  body {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

// 在大屏设备上限制body最大宽度，让内容居中显示
@media screen and (min-width: 751px) {
  body {
    max-width: 750px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

// 横屏适配：确保 app 容器可以滚动
@media screen and (orientation: landscape) {
  #app {
    min-height: 100%;
    height: auto;
  }
}

input {
  outline: none;
}

/* 弹性盒子 */

.flex {
  display: -webkit-flex;
  display: flex;
}

.iflex {
  display: -webkit-inline-flex;
  display: inline-flex;
}

.dc {
  -webkit-flex-direction: column;
  flex-direction: column;
}

.fw {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.jc {
  -webkit-justify-content: center;
  justify-content: center;
}

.js {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.je {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.jb {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.ja {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.as {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.ac {
  -webkit-align-items: center;
  align-items: center;
}

.ae {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.f0 {
  -webkit-flex: 0;
  flex: 0;
}

.fg {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.fn {
  -webkit-flex: none;
  flex: none;
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 0;
  // width: 300px;
  // border-radius: 10px;
  /*这个属性设置使填充进度条时的图形为圆角*/
}

// input[type='range']::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   width: 0.5rem;
//   height: 1.8rem;
//   background: url('@/assets/images/range-sider.png') no-repeat;
//   background-size: 100% auto;
// }

input[type='range']:focus {
  outline: none;
}

// @font-face {
//   font-family: 'BEBAS';
//   src: url('./MW05.ttf');
// }

.user-select-none {
  -moz-user-select: none; /* Firefox私有属性 */
  -webkit-user-select: none; /* WebKit内核私有属性 */
  -ms-user-select: none; /* IE私有属性(IE10及以后) */
  -khtml-user-select: none; /* KHTML内核私有属性 */
  -o-user-select: none; /* Opera私有属性 */
  user-select: none; /* CSS3属性 */
}

.ellipsis-line1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@import './keyframe.scss'

